<footer class="h-10 bg-pink text-black text-xs">
  <div class="m-8 py-2 flex flex-row justify-between">
    <div class="">
      <a class="grow lg:basis-1/10" href="">
        <picture class=""
          ><img
            class="w-2/12"
            src="/src/assets/images/logo-woman-footer.svg"
            alt="logo del festival" /></picture
      ></a>
    </div>
    <div class="hover:bg-black hover:text-pink">
      <a class="grow lg:basis-1/6 text-xs" href="">Artists & bands</a>
    </div>
    <div class="hover:bg-black hover:text-pink">
      <a class="grow lg:basis-1/6 text-xs" href="">Festival history</a>
    </div>

    <div>
      <a
        class="grow lg:basis-1/10"
        href="https://es-es.facebook.com/"
        target="_blank"
        ><li class="fa-brands fa-google-plus"></li
      ></a>
    </div>
    <div>
      <a
        class="grow lg:basis-1/10"
        href="https://www.google.es/"
        target="_blank"
        ><li class="inline-block fa-brands fa-facebook"></li
      ></a>
    </div>
    <div>
      <a
        class="grow lg:basis-1/10"
        href="https://twitter.com/?lang=es"
        target="_blank"
        ><li class="inline-block fa-brands fa-twitter"></li
      ></a>
    </div>
  </div>
</footer>
