<header>
  <nav
    class="mt-4 mb-4 border-b-2 border-soft_pink flex flex-col items-center lg:flex-row lg:gap-12"
  >
    <div class="ml-12 mb-2">
      <a class="grow lg:basis-1/5" href="/src/index.html">
        <picture class="flex flex-col justify-center"
          ><img
            class="w-2/6"
            src="/src/assets/images/logo-woman.svg"
            alt="logo del festival" /></picture
      ></a>
    </div>
    <div class="hover:bg-pink hover:text-black">
      <a class="grow lg:basis-2/5 text-lg" href="/src/index.html"
        >ARTISTS & BANDS</a
      >
    </div>
    <div class="hover:bg-pink hover:text-black">
      <a class="grow lg:basis-3/5 text-lg" href="history.html"
        >FESTIVAL HISTORY</a
      >
    </div>
  </nav>
</header>
