<header>
    <nav class="m-8 py-2 border-b flex flex-col items-center lg:flex-row lg:justify-between" >
       <div class=""><a class="grow lg:basis-1/5" href=""> <picture class="flex flex-col items-center"><img  class="w-2/6" src="/src/assets/images/logo-woman.svg"   alt="logo del festival"></picture></a></div>
       <div class="hover:bg-pink hover:text-black"><a class="grow lg:basis-1/5 text-lg" href="index.html">ARTISTS & BANDS</a></div>
       <div class="hover:bg-pink hover:text-black"><a class="grow lg:basis-1/5 text-lg" href="history.html">FESTIVAL HISTORY</a></div>
       <div class="">WANNA PLAY?</div>
       <div class="">DOCUMENTATION</div>
     </nav>
</header>
