<header>
    <nav class="m-8 flex flex-col lg:flex-row">
       <a class="grow lg:basis-1/5" href="" class=""><img class="w-2/12" src="/src/assets/images/logo-woman.svg"   alt="logo del festival"></a>
       <a class="grow lg:basis-1/5" href="" class="">ARTISTS & BANDS</a>
       <a class="grow lg:basis-1/5" href="" class="">FESTIVAL HISTORY</a>
       <a class="grow lg:basis-1/5" href="" class="">WANNA PLAY?</a>
       <a class="grow lg:basis-1/5" href="" class="">DOCUMENTATION</a>
     </nav>
</header>
